<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/login.css">
    <title>Aero Auto</title>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p class="brand">Aero<strong> Auto</strong></p>
            </div>

        </nav>
        <div class="form-box">

            <div class="login-container" id="login">
                <div class="top">
                    <header>Cadastre-se</header>
                </div>
                <form th:object="${usuario}" th:action="@{/add_usuario}" method="post">
                <div class="two-forms">
                    <div class="input-box">
                        <input th:field="*{nome}" id="nome" type="text" class="input-field" placeholder="Primeiro Nome" >
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input th:field="*{ultimonome}" id="ultimonome" type="text" class="input-field" placeholder="Ultimo Nome" >
                        <i class="bx bx-user"></i>
                    </div>
                </div>
                <div class="input-box">
                    <input th:field="*{email}" id="email" type="text" class="input-field" placeholder="Email">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input th:field="*{senha}" id="senha" type="password" class="input-field" placeholder="Senha" >
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Cadastrar">

                </div>
                </form>
                <div class="two-col">
        
                </div>
            </div>
        </div>
    </div>





</body>

</html>