<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aeroauto</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<header>
    <div class="content">

        <nav>
            <p class="brand">Aero<strong> Auto</strong></p>
            <ul>
                <li><a href="#catalog">Catálogo</a></li>
                <li><a href="#about">Sobre nós</a></li>
                <li><a href="carro">Carros</a></li>
                <a href="login"> <button>Login</button> </a>
            </ul>
        </nav>
        <div class="header-block">
            <div class="text">
                <h2>O carro perfeito para você</h2>
                <p>
                    Venha conhecer nossos carros e aproveite as melhores condições de pagamento.
                </p>
            </div>
            <img src="imagens/ferrari2.jpg" alt="Car" />
        </div>
    </div>
</header>
<section class="catalog" id="catalog">
    <div class="content">
        <div class="title-wrapper-catalog">

            <h2>Catálogo</h2>
        </div>

        <div class="card-wrapper">
            <div class="card-item">
                <img alt="Car" />
                <div class="card-content">
                    <h3></h3>
                    <p></p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/BentleyContinental.jpg" alt="Car" />
                <div class="card-content">
                    <h3>BENTLEY CONTINENTAL GT 4.0 V8</h3>
                    <p> 2012/2013 - ST JAMES RED R$ 889.900,00 </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/BMWX6.jpg" alt="Car" />
                <div class="card-content">
                    <h3>BMW X6 XDRIVE 40I M SPORT 3.0 TURBO</h3>
                    <p>
                        2023/2023 - BRANCO MINERAL R$ 739.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/CadillacEscalade.jpg" alt="Car" />
                <div class="card-content">
                    <h3>CADILLAC ESCALADE PLATINUM V8 6.2L</h3>
                    <p>
                        2019/2019 - BRANCO CRISTAL R$ 1.299.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/CorvetteStringray.jpg" alt="Car" />
                <div class="card-content">
                    <h3>CORVETTE STINGRAY 3LT CONVERSIVEL 6.2 V8</h3>
                    <p>
                        2023/2023 - VERMELHO TOCHA R$ 1.590.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/DodgeChallenger.jpg" alt="Car" />
                <div class="card-content">
                    <h3>DODGE CHALLENGER R/T HEMI 5.7 L V8</h3>
                    <p>
                        2022/2022 - PITCH BLACK R$ 769.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/Porsche911.jpg" alt="Car" />
                <div class="card-content">
                    <h3>PORSCHE 911 TARGA 4 GTS 3.0</h3>
                    <p>
                        2022/2022 - BRANCO CARRARA METÁLICO R$ 1.570.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/TeslaModel.jpg" alt="Car" />
                <div class="card-content">
                    <h3>TESLA MODEL S PLAID ELÉTRICO</h3>
                    <p>
                        2021/2021 - PRATA METÁLICO R$ 1.155.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="imagens/PorscheCayenne.jpg" alt="Car" />
                <div class="card-content">
                    <h3>PORSCHE CAYENNE TURBO S E-HYBRID COUPÉ 4.0 V8</h3>
                    <p>
                        2022/2023 - CINZA QUARZITE METÁLICO R$ 1.690.900,00
                    </p>
                    <button type="button">Eu quero esse!</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="content">
        <div class="title-wrapper-about">
            <h2>Sobre nós</h2>
        </div>
        <div class="about-content">
            <div class="left">
                <img src="imagens/about.png"  alt="About" />
            </div>
            <div class="right">
                <h3>Uma nova tecnologia</h3>
                <p>
                    Sua porta de entrada para o futuro da mobilidade
                    <br>

                    Na AERO AUTO, acreditamos que a tecnologia tem o poder de transformar a experiência de compra e venda de carros. Por isso, somos pioneiros na integração de novas tecnologias em todos os nossos processos, desde a avaliação e compra de veículos até a venda e pós-venda.
                    <br>
                    Aqui estão alguns dos diferenciais que nos tornam a sua melhor escolha:
                    <br>
                    Veículos com as últimas tecnologias: Oferecemos uma ampla variedade de carros novos e seminovos equipados com as últimas tecnologias em segurança, conectividade e desempenho.
                    Processo de compra 100% digital: Você pode comprar seu carro online, com todo o suporte e segurança que você precisa.
                    Experiência personalizada: Usamos a tecnologia para entender suas necessidades e oferecer soluções personalizadas para você.
                    Atendimento impecável: Nossa equipe de especialistas está sempre à disposição para te ajudar a encontrar o carro ideal e garantir a sua satisfação.
                    Conheça algumas das tecnologias que utilizamos:


                </p>
            </div>
        </div>
    </div>
</section>
</section>

<footer>
    <div class="main">
        <div class="content footer-links">

            <div class="footer-social">
                <h4> Nossas Redes </h4>
                <div class="social-icons">
                    <img src="imagens/instagram.png" alt="Instagram" />
                    <img src="imagens/facebook.png" alt="Facebook" />
                </div>
            </div>
            <div class="footer-contact">
                <h4>Nosso contato</h4>
                <h6>+55 16 99643-9741</h6>
                <h6>suporte@aeroauto.com.br</h6>
                <h6>Rua dos Autos do Mato, Belo Monte SP</h6>
            </div>
        </div>
    </div>
    </div>
    <div class="last"> © Aero Auto 2024  </div>
</footer>
</body>
</html>
